@model GameplayViewModel

@{
    ViewBag.Title = "Play";
}
<h1>Game Field</h1>

<pre id="gameField">@Model.GameState</pre>

<script src="https://js.signalr.net/3.1/signalr.min.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/gameHub").build();

    connection.on("Display", function (gameState) {
        document.getElementById("gameField").innerText = gameState;
    });

    connection.start().catch(function (err) {
        return console.error(err.toString());
    });

    document.addEventListener("keydown", function (event) {
        connection.invoke("SendKeyPress", event.key).catch(function (err) {
            return console.error(err.toString());
        });
    });
</script>